#hakkimizda{
    background-color: #d7cdf5;
    padding: 40px;
    text-align: center;
    text-transform:capitalize ;
    font-weight: 00;

}
h3{
    font-size: 45px;
    color: #003666;
    text-shadow: 0px 1px 1px;
    font-weight:600;
}
#container{
    width: 1000px;
    height: auto;
    margin: auto;

}
#sol{
    float: left;
    border-right: 6px solid #445c6e;
    font-size: 20px;
    width: 400px;
    color: #445c6e;
}
#h5sol{
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
}
#h5sol,#sag{
    margin:0;
    padding:0;
    margin-top: 20px;

}
span{
    font-size: 40px;
    margin-right: 5px;
    line-height: 40px;
    color: #445c6e;
    font-weight: 600;
    float: left;
}
#sag{
    float:right;
    width: 600px;
    color: rgba(48, 60, 233, 0.6);
    text-align:center;
    letter-spacing:1px ; /*harf aralığını açma */
    font-size: 15px;
    line-height:1.5; /*satır aralığı */
    font-weight: 100;
}
.img-fluid{
    max-width: 70%;
    height: auto;

}
.mt100{
    margin-top:100px;

}
#pson{
    color:rgba(23, 6, 97, 0.6);
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 1.5;
    margin-top:30px ;
    font-weight: 100;
}
